.banner {
    margin-bottom: 1.25rem;
    padding: 7rem;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .banner {
        padding: 0.9375rem;
    }
}
