.container {
    display: flex;
    flex-direction: column;
    height: 62vh;
    padding: 1rem;
    background-color: #f5f5f5;
}

.chatBox {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    margin-bottom: 1rem;
}


