.inputArea {
    display: flex;
    gap: 0.5rem;
}

.inputBox {
    flex: 1;
    padding: 0.75rem;
    border-radius: 10px;
    border: 1px solid #aaa;
    font-size: 1rem;
}

.sendButton {
    padding: 0.75rem 1rem;
    border: none;
    background-color: #00753C;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
}