.header {
    position: relative;
    padding-top: 0.5rem; /* 로그인과 겹치지 않도록 여유 공간 확보 */
}

.userInfo {
    position: fixed;
    top: 0.5rem;
    right: 1.4rem;
    font-size: clamp(0.8rem, 2vw, 1rem);
}

.mainHeaderContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 130px;
}

.logo img{
    max-width: 100%;
    min-width: 60px;
}

.search {
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    gap: 0.5rem;
    flex-shrink: 1; /* 필요한 경우 줄어들 수 있도록 */
}

.search input {
    width: 20rem;
}

.search button,
.search input {
    margin: 0.8rem;
    font-size: clamp(0.875rem, 2vw, 1.125rem);
    height: 3rem; /* 직접 높이 지정해서 동일하게 */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    line-height: 1.25rem;
}

.userRanking {
    width: auto;
    min-width: 10rem;
    background-color: #f0f0f0;
    border: 1px solid #282c34;
    padding: 1rem;
    text-align: center;
    flex-shrink: 1;
    white-space: nowrap;
    font-size: clamp(0.75rem, 2vw, 1rem);
}

@media (max-width: 768px) {
    .userRanking {
        width: 80%; /* 화면 너비의 80%로 조정 */
        padding: 0.5rem; /* 패딩 줄이기 */
        font-size: 0.9rem; /* 글자 크기 줄이기 */
        margin: 1rem auto 0; /* 중앙 정렬 + 위쪽 여백 */
    }
}