.main {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.section {
    margin-bottom: 3rem;
}

.title {
    color: #003016;
    font-size: 2rem;
    font-weight: bold;
    padding-left: 1rem;
    margin: 0.5rem 0rem 1rem 0rem;
}

@media (max-width: 768px) {
    .main {
        padding: 10px;
    }
}
