.botMessage {
    align-self: flex-start;
    background-color: #e0e0e0;
    padding: 0.75rem 1rem;
    border-radius: 15px;
    max-width: 60%;
    word-break: break-word;
}

.userMessage {
    align-self: flex-end;
    background-color: #cce5ff;
    padding: 0.75rem 1rem;
    border-radius: 15px;
    max-width: 60%;
    word-break: break-word;
}