.navbar {
    display: flex;
    justify-content: space-around;
    background-color: #fff;
    padding: 10px 0;
    border-top: 2px solid #003016;
    border-bottom: 2px solid #003016;
}

.navbar button {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
    padding: 10px;
    transition: background-color 0.3s;
    color: #003016;
    font-weight: bolder;
}

.navbar button:hover {
    /*background-color: #b79240;*/
    color: #b79240;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: center;
    }
}
