.floatingBtn {
    position: fixed;         /* 화면에 고정 */
    bottom: 20px;            /* 하단에서 20px 떨어짐 */
    right: 20px;             /* 우측에서 20px 떨어짐 */
    padding: 15px 25px;
    background-color: #00753C;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
    z-index: 9999;           /* 제일 위로 올라오도록 설정 */
}

.floatingBtn:hover {
    background-color: #005b2c;
}

@media (max-width: 768px) {
    .floatingBtn {
        padding: 10px 20px;
        font-size: 1rem;
    }
}
