.writeBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 15px 25px;
    background-color: #00753C;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1.2rem;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.banner {
    margin-bottom: 20px;
    padding: 20px;
    margin-bottom: 1.25rem;
    padding: 7rem;
    background-color: #f0f0f0;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .writeBtn {
        padding: 10px 20px;
    }

    .banner {
        padding: 15px;
    }
}