spring:
  file:
    upload-dir: ./uploads  # 파일 업로드 디렉토리 설정 (상대 경로, 루트 기준)

  servlet:
    multipart:
      enabled: true  # multipart 설정을 활성화
      max-file-size: 10MB  # 업로드할 수 있는 개별 파일의 최대 크기 설정
      max-request-size: 10MB  # 전체 요청의 최대 크기 설정
      location: ./uploads  # 임시 파일을 저장할 경로 (일반적으로 이 경로는 서버가 실행되는 디렉토리 내의 상대 경로로 설정)

  h2:
    console:
      enabled: true
      path: /h2-console  # H2 콘솔 경로 설정

  datasource:
    url: jdbc:h2:mem:testdb  # 메모리 내의 H2 데이터베이스 사용
    driver-class-name: org.h2.Driver
    username: sa  # H2 기본 사용자
    password: ""  # H2 기본 비밀번호

  jpa:
    hibernate:
      ddl-auto: update  # 데이터베이스 스키마 자동 업데이트
    show-sql: true  # SQL 쿼리 로그 출력
    properties:
      hibernate:
        format_sql: true  # SQL 포맷팅

  sql:
    init:
      mode: never  # SQL 초기화 비활성화 (서버가 시작될 때 자동으로 데이터베이스 초기화하지 않음)
      encoding: UTF-8  # SQL 스크립트 인코딩
      data-locations: classpath:schema.sql  # 초기화할 SQL 스크립트 위치
      defer-datasource-initialization: false  # 데이터베이스 초기화를 지연시키지 않음
